$color_white: #ffffff;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.full {
  height: 700px;
  width: 450px;
  background-color: #ffeeee;
  margin: "auto";
}

.layout {
  padding: 24px;
  background: $color_white;
  align-items: center;
  justify-items: start;
}
